{
  // I want to use babel-eslint for parsing!
  "parser": "babel-eslint",
  // Use airbnb eslint rules
  "extends": "airbnb",
  "env": {
    // I write for browser
    "browser": true,
    // in CommonJS
    "node": true
  },
}